@import url(style.css); /*o @ importa as bugigangas da outra pagina*/

*{
    margin:0;
    padding:0;

}

.area-cadastro{
    margin: 50px auto;/*margem top, baixo, direita e esquerda*/
    width: 60vw;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.area-formulario{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.form-cadastro > div{ /*pega tudo que precisa da mesma formataçao*/
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 50vw;
}

.ddd input{
    width: 4vw;
}

/*#telefone{
    flex: 2;
}*/

/*#numero{
    width: 4vw;
    flex: 1;
}*/

.formatacao div{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#ddd, #numero{
    width: 4vw;
}

input, select{
    width: 100%;
    padding: 7px;
    margin: 8px;
} 

.area-botao{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botao-cadastrar{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    
}

.link-login{
    margin-top: -25px;
}
